
.card_number{

  font-size: 7rem;
  display: flex;
  opacity: 1;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  transition: all .5s ease-in-out;

  
}

.card{
  border: 1px solid #00000047;
  width: 17%;
  height: 300px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(181 179 179 / 27%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all .5s ease-in-out;
}

.card_title{
  height: 300px;
  transition: all .5s ease-in-out;
  overflow-y: hidden;
  background-color: rgba(255, 255, 255, 0.945);
  background-color: rgba(255, 255, 255, 0.7);
  background-color: #fff;
}
.card_body{
  opacity: 0;
  font-size: 12px;
  
  /* font-weight: bold; */

  /* display: none; */
  transition: all 1s ease-in-out;

}

/* .card_title:hover{
  height: 200px;
} */
